%h1= values[:list_title]

%ol#index-entries{ :class => 'methods' }
  - values[:attributes].each do |entry|
    %li= link_to_method entry, '../' + [classfile(entry.parent), "method-#{entry.html_name}"].join('#')
  - values[:methods].each do |entry|
    = link_to_method entry, "../#{[classfile(entry.parent), entry.aref].join('#')}"
