- entry = values[:entry]
- sections = values[:sections].keys if values.has_key?(:sections)

- if entry.requires or sections or entry.includes
  #context
    - unless entry.requires.empty?
      %section#requires
        %h2 Required files
        %ol
          - entry.requires.each do |req|
            %li= req.name

    - if sections && (sections.length > 1 || sections.first.title.to_s != '')
      %section#contents
        %h2 Contents
        %ol
          - sections.sort_by{|s| s.title.to_s}.each do |section|
            %li= link_to section.title, "##{section.aref}"

    - unless entry.includes.empty?
      %section#includes
        %h2 Included modules
        %ol
          - entry.includes.each do |inc|
            - if (mod = inc.module).is_a?(String)
              %li= inc.name
            - else
              %li= link_to inc.name, entry.aref_to(mod.path)

